.notification{
    position: absolute;
    bottom: 30px;
    right: 20px;
    height: 55px;
    width: 300px;
    padding: 4px 0px;
    padding-inline-start: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-left: 6px solid lightgreen;
    border-radius: 4px;
    box-shadow: 6px 5px 10px rgba(0, 0, 0, 0.2);
}